<nav>
            <div class="nav-wrapper teal">
              <a href="/" class="brand-logo">DEBUGallery</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                 <li><a href="/post">Post</a></li>
                <li><a href="/blogs"><span class="new badge">4</span>Blog</a></li>
                <li><a href="/">Logout</a></li>
              </ul>
            </div>
          </nav>
<!-- all blog posts-->
<div class="container">
<div class="row">
    {{#each blogs}}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src={{img}}>
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>{{post}}</p>
        </div>
        <div class="card-action">
          <a href="#">Back to Top</a>
          <i class="material-icons right">vertical_align_top</i>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  </div>