
<!-- all blog posts-->
<div class="row">
    {{#each blogs}}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src={{img}}>
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>{{post}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>