<div class="container">
      <section class="hero">
        <div class="hero-form">
          <form class="login-form">
            <!-- username -->
            <label for="email-login">Enter your email:</label>
            <input type="text" placeholder="Email" name="email" id="email-login"
            <!-- password -->
            <label for="password">Enter your password:</label>
            <input type="text" placeholder="Password" name="password" id="password" class="form-input"/>
            <!-- submit button-->
            <button class="btn waves-effect waves-light" type="submit" name="action">
             <a href="/"> Login!</a>
              <i class="material-icons right">send</i>
          </button>
          </form>
            <h3>Sign Up Today!</h3>
            <p>Fill out the following to create an account!</p>
            <form class="signup-form">
                <!-- first name -->
                <label for="firstname-signup">Enter first name:</label>
                <input type="text" placeholder="First Name" name="first-name" id="firstname-signup" class="form-input"/>
                <!-- last name -->
                <label for="lastname-signup">Enter last name:</label>
                <input type="text" placeholder="last Name" name="last-name" id="lastname-signup" class="form-input"/>
                <!-- user name -->
                <label for="username-signup">Enter a username:</label>
                <input type="text" placeholder="User Name" name="user-name" id="username-signup" class="form-input"/>
                <!-- email address -->
                <label for="email-signup">Enter your email address:</label>
                <input type="email" placeholder="Email Address" name="email" id="email-signup" class="form-input" />
                <!-- password -->
                <label for="password-signup">Enter a password:</label>
                <input type="text" placeholder="Password" name="password" id="password-signup" class="form-input"/>
                <!-- submit button-->
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Create Account!
                    <i class="material-icons right">send</i>
                </button>
            </form> 
        </div>
    </section>

    <script src="/javascript/login.js">

    </script>
