<!--HEADER "WELCOME"-->
<header>
  <div class="container">
    <div class="row">
      <div class="card-panel teal">
        <div class="welcome">
          <h2 class="container">Welcome to </h2>
          <h1 class="container">DEBU<a href="/" class="grey-text">Gallery </a></h1>
          </p>
          <p class="container">
            A blog where you can post screenshot images of your codes,
            comment to rate, troubleshoot, DEBUG, or just learn to code with insightful posts,
            tips and resources.
          </p>
        </div>
        <img src="coders.jpeg" alt="coders memoji" class="circle responsive-img">
      </div>
    </div>
</header>


{{!-- Beginning of login form --}}
<div class="container">
<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>
</div>

<script src="/javascript/login.js"></script>